.ui.form {

  // Hint label
  .field > .hint {
    flex-basis: 100%;
    margin-left: calc(180px + 1em);
    opacity: .7;
    font-size: .9em;
  }

  // Avoid double margin for nested field
  .field > .fields {
    margin-bottom: 0;
  }

}

@media (min-width: 767px) {
  .ui.form.horizontal {
    .field {
      display: flex;
      flex-wrap: wrap;
    }

    .field > label {
      flex: 0 0 180px;
      text-align: right;
      margin-right: 1em;
      margin-top: 0.5em;
    }

    .field > :nth-child(2) {
      flex: 2;
    }

    // Make asterisk "*" mark absolute, so all labels (required or not) will correctly align to right
    .required.field > .checkbox:after, .required.field > label:after, .required.fields.grouped > label:after, .required.fields:not(.grouped) > .field > .checkbox:after, .required.fields:not(.grouped) > .field > label:after {
      position: absolute;
    }

    .action {
      flex-basis: 100%;
      margin-left: calc(180px + 1em);
    }
  }
}
