$labelMargin: 2em;

.ui.form {

  // Hint label
  .field > .hint {
    opacity: .7;
    font-size: .9em;
  }

  // Avoid double margin for nested field
  .field > .fields {
    margin-bottom: 0;
  }

  .pushed {
    &:not(:last-child) {
      margin-bottom: 1em;
    }
  }

}

@media (min-width: 767px) {
  .ui.form.horizontal {
    > .field {
      display: flex;
      flex-wrap: wrap;

      > .hint {
        flex-basis: 100%;
        margin-left: calc(180px + 2em);
      }

      > label {
        flex: 0 0 180px;
        text-align: right;
        margin-right: 2em;
        margin-top: 0.5em;
      }

      > :nth-child(2) {
        flex: 2;
      }
    }

    // Make asterisk "*" mark absolute, so all labels (required or not) will correctly align to right
    > .required.field > .checkbox:after, .required.field > label:after {
      position: absolute;
    }

    .pushed {
      flex-basis: 100%;
      margin-left: calc(180px + 2em);
    }
  }
}
