$sidebar-width-thin: 150px;
$sidebar-width-normal: 220px;
$sidebar-width-wide: 300px;
$sidebar-color: #f6f9fa;

$header-height: 60px;
$header-color: #FFFFFF;
$header-width: calc(100% - #{$sidebar-width-normal} + 2px);
//$menu-header-color: #788288;
$menu-item-color: #000;

.layout--sidebar {

  .simplebar-content {
    //padding-top: $header-height;
  }

  header.ui.menu {
    height: $header-height;
    border: 0 none;
    left: $sidebar-width-normal + 1px;
    width: $header-width;
    max-width: $header-width;

    @if $header-color {
      background-color: $header-color;
    }

    .item.brand {
      //background-color: darken($sidebar-color, 5);
    }
  }

  .layout__wrapper {
    display: flex;
    flex-direction: row;
  }

  .sidebar {
    position: relative;
    z-index: 1;
    flex: 0 0 auto;
    -webkit-box-flex: 0;
    width: $sidebar-width-normal;

    &.thin {width: $sidebar-width-thin}
    &.wide {width: $sidebar-width-wide}
  }

  .sidebar__wrapper {
    position: fixed;
    overflow: hidden;
    outline: none;
    height: 100%;
    border-right: 1px solid #eaecf0;
    padding: 0;
    width: inherit;

    @if $sidebar-color {
      background-color: $sidebar-color;
    }

    .ui.menu.vertical {
      background: transparent;

      .icon.left {
        float: left;
        margin: 0 1rem 0 0;
      }

      i.angle.icon {
        margin: 0 -0.5rem 0 0;
        float: right;
        opacity: .5;
      }

      .item {
        > .header {
          font-weight: 700;
          text-transform: uppercase;
          margin: 1.5rem .5rem 0;
          letter-spacing: .5px;
          //text-align: center;
        }
        &:before {
          height: 0;
        }
      }
    }
  }

  .sidebar__menu {
    .brand {
      padding: 20px;
      margin-bottom: 0;
      font-size: 2.5em;
    }
    .ui.menu {
      border: 0 none;
      margin: 0;
    }
  }

  .content {
    -webkit-box-flex: 1;
    flex: 1 1 auto;

    .content__inner {
      min-height: 800px;
    }

    .content__body {
      margin-top: $header-height;
    }
  }
}

.sidebar__accordion.ui.accordion {

  .title {
    display: block;
    padding: 0.75rem 1.5rem;
    //text-transform: uppercase;
    //font-size: .9rem;
    &:hover, &.active {
      background: darken($sidebar-color, 8%);
    }
  }

  .content {
    background-color: darken($sidebar-color, 5%);
    //border-bottom: 1px solid #eaecf0;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    .ui.list {
      margin: 0;

      .item {
        line-height: 1.5rem;
        border: 0 none;
        padding: 0.75em 1em 0.75em 3.5em;
      }
    }
  }

}
